@require 'var'

// float && clear
.tCL after
    content "."
    display block
    height 0
    clear both
    visibility hidden
.tFL
    float left
.tFR
    float right

// radius
for n in 3 4 5 6
    .tR{n}
        radius n
    .tRT{n}
        radius2 n n 0 0
    .tRR{n}
        radius2 0 n n 0
    .tRB{n}
        radius2 0 0 n n
    .tRL{n}
        radius2 n 0 0 n

// padding
for n in 0 2 4 6 8 10 12 14 16 18 20
    .tP{n}
        padding n
    .tPT{n}
        padding-top n
    .tPR{n}
        padding-right n
    .tPB{n}
        padding-bottom n
    .tPL{n}
        padding-left n

// margin 
for n in 0 2 4 6 8 10 12 14 16 18 20
    .tM{n}
        margin n
    .tMT{n}
        margin-top n
    .tMR{n}
        margin-right n
    .tMB{n}
        margin-bottom n
    .tML{n}
        margin-left n

// position
.tPR
    position relative
.tPF
    position fixed
.tPA
    position absolute

// visibility
.tDN, .tHide
    display none !important
.tDB
    display block !important
.tDIB
    display inline-block !important
.tBHide
    -webkit-backface-visibility hidden

// ellipsis
.tOmit
    omit 1
.tOmit2
    omit 2
.tOmit3
    omit 3
    
// font line height
line-heights = {
    tLH1: 1,
    tLH1_3: 1.3,
    tLH1_5: 1.5,
    tLH1_8: 1.8,
    tLH2:   2,
    tLH30:  30px,
    tLH44:  44px
}
for key, value in line-heights
    .{key}
        line-height value

for n in 30 44
    .tW{n}
        width n
    .tH{n}
        height n
        
// font size
for n in 12 14 16 18 20 22 24 26 28 30
    .tF{n}
        font-size n

// font color
font-colors = {
    tF0: #000,
    tF3: #333,
    tF4: #444,
    tF5: #555,
    tF6: #666,
    tF7: #777,
    tF8: #888,
    tF9: #999,
    tFa: #aaa,
    tFb: #bbb,
    tFc: #ccc,
    tFd: #ddd,
    tFe: #eee,
    tFf: #fff
}
for key, value in font-colors
    .{key}
        color value
        
// font align
.tFAL
    text-align left
.tFAC
    text-align center
.tFAR
    text-align right
        
// background color
background-colors = {
    tBC0: #000,
    tBC3: #333,
    tBC4: #444,
    tBC5: #555,
    tBC6: #666,
    tBC7: #777,
    tBC8: #888,
    tBC9: #999,
    tBCa: #aaa,
    tBCb: #bbb,
    tBCc: #ccc,
    tBCd: #ddd,
    tBCe: #eee,
    tBCf: #fff
}
for key, value in background-colors
    .{key}
        background-color value

// opacity
for n in 0 10 30 50 80
    .tOP{n}
        opacity (n/100)

// 3D speed up
.t3D
    -webkit-transform translateZ(0)
    transform translateZ(0)