u(n) 
    n == 0 ? n : unit(n, px);

// http://border-radius.com/
radius(n)
    -webkit-border-radius u(n)
    border-radius u(n)
    overflow hidden
    
radiusL(n)
    -webkit-border-top-left-radius u(n)
    -webkit-border-bottom-left-radius u(n)
    border-top-left-radius u(n)
    border-bottom-left-radius u(n)
    overflow hidden
    
radiusT(n)
    -webkit-border-top-left-radius u(n)
    -webkit-border-top-right-radius u(n)
    border-top-left-radius u(n)
    border-top-right-radius u(n)
    overflow hidden
    
radiusR(n)
    -webkit-border-top-right-radius u(n)
    -webkit-border-bottom-right-radius u(n)
    border-top-right-radius u(n)
    border-bottom-right-radius u(n)
    overflow hidden

radiusB(n)
    -webkit-border-bottom-right-radius u(n)
    -webkit-border-bottom-left-radius u(n)
    border-bottom-right-radius u(n)
    border-bottom-left-radius u(n)
    overflow hidden

border-box()
    -webkit-box-sizing border-box
    box-sizing border-box

shadow(x, y, b, s, a)
    -webkit-box-shadow u(x) u(y) u(b) u(s) rgba(0,0,0,a)
            box-shadow u(x) u(y) u(b) u(s) rgba(0,0,0,a)

omit(n)
    overflow  hidden
    text-overflow ellipsis
    if n > 1
        display -webkit-box
        -webkit-line-clamp n
        -webkit-box-orient vertical
    else
        word-break keep-all
        white-space nowrap

padding(n) 
    padding u(n)
        
padding-top(n) 
    padding-top u(n)
    
padding-right(n) 
    padding-right u(n)
    
padding-bottom(n) 
    padding-bottom u(n)

padding-left(n) 
    padding-left u(n)
    
margin(n) 
    margin u(n)
        
margin-top(n) 
    margin-top u(n)

margin-right(n) 
    margin-right u(n)
    
margin-bottom(n) 
    margin-bottom u(n)
    
margin-left(n) 
    margin-left u(n)
    
font-size(n) 
    font-size u(n)
    
width(n) 
    width u(n)

height(n) 
    height u(n)


